&::-webkit-scrollbar
{
    display: none;
}

html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    border: 0;
}

.gameplay-snippet-container {
    position: relative; 
    width: 100%;
    border: 0;
    pointer-events: none;
}

.gameplay-snippet {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

.gameplay-snippet-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.game-title
{
    color:#E2B25B;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.game-download
{
    display: grid;
    place-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100px;
    height: 50px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    background-color: #3C2621;
    color: #E2B25B;
    border: 3px inset #E2B25B;
}

.main-feature
{
    position: relative;
    width: 100dvh;
    aspect-ratio: 1/1;
    margin: 5px;
    border: 2px solid #3C2621;
    border-radius: 25%;
}

.other-feature
{
    position: relative;
    width: 100dvh;
    aspect-ratio: 1/1;
    margin: 5px;
    border: 2px solid #3C2621;
    border-radius: 25%;
}

.main-features
{
    gap: 2%;
}

.other-features
{
    gap: 2%;
    padding-bottom: 5%;
}

.explanation
{
    padding: 2%;
    margin-top: 5%;
}

@media (pointer: fine)
{
    .game-title
    {
        color:#E2B25B;
        position: absolute;
        top: 15%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 100px;
    }

    .game-download
    {
        display: grid;
        place-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 100px;
        font-size: 50px;
        transform: translate(-50%, -50%);
        background-color: #3C2621;
        color: #E2B25B;
        border: 10px inset #E2B25B;
    }

    .main-feature iconify-icon
    {
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: 80px;
        transform: translate(-50%, -50%);
    }

    .other-feature iconify-icon
    {
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 80px;
        transform: translate(-50%, -50%);
    }

    .main-feature-title
    {
        position: absolute;
        left: 50%;
        top: 35%;
        font-size: 60px;
        transform: translate(-50%, -50%);
    }

    .other-feature-title
    {
        position: absolute;
        left: 50%;
        top: 60%;
        font-size: 60px;
        transform: translate(-50%, -50%);
    }

    .main-feature-description
    {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        text-align: center;
    }

    .main-features-title
    {
        margin-top: 10%;
        width: 100%;
        font-size: 90px;
        text-align: center;
    }

    .other-features-title
    {
        margin-top: 10%;
        width: 100%;
        font-size: 90px;
        text-align: center;
    }

    .explanation p
    {
        font-size: 30px;
        text-align: center;
    }
}

@media (pointer: coarse)
{
    .game-title
    {
        color:#E2B25B;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }

    .game-download
    {
        display: grid;
        place-items: center;
        position: absolute;
        top: 70%;
        left: 50%;
        width: 100px;
        height: 50px;
        font-size: 25px;
        transform: translate(-50%, -50%);
        background-color: #3C2621;
        color: #E2B25B;
        border: 3px inset #E2B25B;
    }

    .main-feature iconify-icon
    {
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: 25px;
        transform: translate(-50%, -50%);
    }

    .other-feature iconify-icon
    {
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 25px;
        transform: translate(-50%, -50%);
    }

    .main-feature-title
    {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }

    .other-feature-title
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }

    .main-feature-description
    {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        text-align: center;
    }

    .main-features-title
    {
        margin-top: 10%;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .other-features-title
    {
        margin: 0;
        margin-top: 5%;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .explanation p
    {
        font-size: 20px;
        text-align: center;
    }
}