&::-webkit-scrollbar
{
    display: none;
}

html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.game-title
{
    width: 100%;
    text-align: center;
}

.download
{
    width: 10%;
    aspect-ratio: 16/9;
}

.trailer-container
{
    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;
    height: fit-content;
}

.trailer
{
    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;
    aspect-ratio: 16/9;
}

.explanation
{
    margin: 5% 0 5% 0;
    padding: 0;
    border: 0;

    text-align: center;

    width: 100%;
    height: fit-content;
}

.features
{
    background-color: red;

    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;
    height: fit-content;
}

.feature
{
    background-color: pink;

    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;

    height: fit-content;
    align-items: center;

    margin-bottom: 5%;
}

.feature-img
{
    background-color: orange;

    margin: 0;
    padding: 0;
    border: 0;

    max-width: 50%;
    min-width: 0;
    aspect-ratio: 16/9;
    height: auto;
    
}

.text-container
{
    background-color: yellow;

    margin: 0;
    padding: 0;
    border: 0;

    width: 50%;
    aspect-ratio: 16/9;
    overflow-y: auto;
    min-height: 0;
}

.banner-container
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner
{
    width: 100%;
}

.feature-title
{
    text-align: center;
    margin: 0;
}

@media (pointer: fine)
{
    .game-title
    {
        font-size: 70px;
    }

    .explanation
    {
        font-size: 30px;
    }

    .download iconify-icon
    {
        font-size: 50px;
    }
}

@media (pointer: coarse)
{
    
}