body{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header
{
    background-color: blue;
}

main
{
    background-color: rgb(46, 46, 46);
    display: grid;
    min-width: 100dvh;
    grid-template-columns: 1fr auto;
}

footer
{
    background-color: cornflowerblue;
}