&::-webkit-scrollbar
{
    display: none;
}

html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.section-title
{
    font-family: "Tagesschrift", system-ui;
    color: #3f6cbf;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

.section-text
{
    font-family: "IM Fell DW Pica", serif;
    color: #201e6a;
    height: 100%;
    text-align: center;
    padding: 2%;
    margin: 0;
}