&::-webkit-scrollbar
{
    display: none;
}

html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.list-member
{
    position: absolute;
    top: 0;

    display: grid;
    gap: 2%;
}

.list-member-card
{
    display:inline-ruby;
    place-content: center;
    padding: 1%;
    border: 0;
}

.list-member-photo
{
    border-radius: 50%;
    pointer-events: none;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    object-fit: cover;
}

.list-header
{
    display: grid;
    text-align: justify;
    align-items: center;
}

.list-member-card:hover > .list-member-name, .list-member-card:hover > .list-member-role
{
    max-width: fit-content;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.1s ease-in;
}

.list-member-card:not(:hover) > .list-member-name, .list-member-card:not(:hover) > .list-member-role
{
    max-width: 0;
    opacity: 0;
    margin: 0;

    white-space: nowrap;
    pointer-events: none;
    transition: all 0.1s ease-out;
}

@media (pointer: fine)
{
    .content
    {
        grid-template-columns: 3fr 7fr;
        gap: 2%;
    }

    .list-member-photo
    {
        width: 50px;
        height: 50px;
    }

    .list-member-card:hover .list-member-name
    {
        font-size: 18px;
        margin-right: 5px;
    }

    .list-member-card:hover .list-member-role
    {
        font-size: 14px;
        margin-right: 5px;
    }
}

@media (pointer: coarse)
{
    .content
    {
        grid-template-columns: 2fr 8fr;
        gap: 1%;
    }

    .list-member-photo
    {
        width: 25px;
        height: 25px;
    }

    .list-member-card:hover .list-member-name
    {
        font-size: 14px;
        margin-right: 5px;
    }

    .list-member-card:hover .list-member-role
    {
        font-size: 10px;
        margin-right: 5px;
    }
}