/* --- Global Reset & Shared Base Styling --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
    padding: 50px 20px;
}

html
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.timeline
{
  display: flex;
  gap: 30px;
  width: 100%; 
  margin: 0 auto;
}

.timeline-item
{
  position: relative;
}

.timeline-item::after                               /*Timeline lines*/
{
  content: '';
  position: absolute;
  z-index: 0;

  background-color: #6d92d6;
}

.timeline-item:last-child::after
{
  display: none;
}

.timeline-item::before                             /*Timeline Dots*/
{
    content: '';
    position: absolute;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    z-index: 1;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: 3px solid #6d92d6;
}
                                                    /*Timeline Dot Images*/

.timeline-item:nth-child(1)::before { background-image: url('../assets/earth.webp'); }
.timeline-item:nth-child(2)::before { background-image: url('../assets/air.webp'); }
.timeline-item:nth-child(3)::before { background-image: url('../assets/water.webp'); }
.timeline-item:nth-child(4)::before { background-image: url('../assets/fire.webp'); }
.timeline-item:nth-child(5)::before { background-image: url('../assets/boss.webp'); background-color: #E2B25B; width: 50px; height: 50px; border: 3px solid #201e6a; box-shadow: 0 0 15px 15px white; 
}

                                                    /*Timeline text box*/
.timeline-content
{
    padding: 20px;
    border-radius: 8px;

    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.timeline-date
{
    font-family: "IM Fell DW Pica", serif;
    display: inline-block;
    margin-bottom: 8px;
}

.timeline-content h3
{
    font-family: "Tagesschrift", system-ui;
    color: #4462bd;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.timeline-content p
{
    font-family: "IM Fell DW Pica", serif;
    color: #201e6a;
    line-height: 1.5;
}

.performances
{
    display: flex;
    gap: 5%;
    width: 100%;
}

.performance
{
    flex: 1;
    margin-top: 5%;
    margin-bottom: 5%;
}

.performance-title
{
    font-family: "Tagesschrift", system-ui;
    color: #4462bd;
    text-align: center;
    width: 100%;
}

.performance-text
{
    font-family: "IM Fell DW Pica", serif;
    color: #201e6a;
    text-align: justify;
    width: 100%;
    padding-top: 5%;
}

/* --- TOUCH DEVICES: Vertical Timeline --- */
@media (pointer: coarse)
{
    .timeline, .performances
    {
        flex-direction: column;
    }

    .timeline-date
    {
        font-family: "IM Fell DW Pica", serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        color: #cf9184;;
    }

    .timeline-item
    {
        padding-left: 70px; 
    }

    /* Dot centered at 30px */
    .timeline-item::before
    {
        top: 50%; 
        left: 30px; 
        transform: translate(-50%, -50%);
    }

    /* Vertical Line Segments */
    .timeline-item::after
    {
        top: 50%; /* Starts at the exact center of the current dot (10px top + 20px radius) */
        left: 30px; 
        width: 4px;
        height: calc(100% + 30px); /* Reaches exactly to the center of the next dot by adding the flex gap */
        transform: translateX(-50%);
    }

    .timeline-content p
    {
        font-size:  12px;
    }
}


/* --- MOUSE/STYLUS DEVICES: Horizontal Timeline --- */
@media (pointer: fine)
{
    .timeline, .performances
    {
        flex-direction: row;
    }

    .timeline-date
    {
        font-family: "IM Fell DW Pica", serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        color: #cf9184;;
    }

    .timeline-item
    {
        flex: 1; 
        padding: 70px 15px 0 15px; 
    }

    /* Dot centered at 30px from the top */
    .timeline-item::before
    {
        top: 30px; 
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    /* Horizontal Line Segments */
    .timeline-item::after
    {
        top: 30px; 
        left: 50%;
        width: calc(100% + 30px);
        height: 4px;
        transform: translateY(-50%);
    }

    .timeline-content
    {
        text-align: center;
        height: 100%; 
    }

    .timeline-content p
    {
        line-height: 1.5;
        font-size: 0.95rem;
    }
}