html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}





.member-name
{
    font-family: "Merriweather";
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.member-role
{
    font-family: "Lora";
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.member-age
{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    margin: 0;
}

.member-button
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

.member-open-button
{
    width: 125px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.team-member-list
{
    width: fit-content;
    height: 100%;
}

@media (pointer: coarse)
{
    .member-card
    {
        background-color: blue;
        border-radius: 15px;
        padding: 10px;
        width: 400px;
    }

    .member-photo
    {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        margin-right: 15px;
    }
}

@media (pointer: fine)
{
    .member-card
    {
        background-color: green;
        border-radius: 15px;
        padding: 10px;
        width: 400px;
    }

    .member-photo
    {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        margin-right: 15px;
    }
}
    