&::-webkit-scrollbar
{
    display: none;
}

html, body
{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column;
}

.space
{
    flex: 1;
}

.member-header
{
    align-items: center;
}

.member-card
{
    width: 100%;
    background-color: burlywood;
    margin-bottom: 5px;
}

.member-display
{
    display: none;
}

.member-display-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    padding: 1%;
    align-items: top;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    margin-bottom: 5px;
}

.member-display-section:last-of-type
{
    border-bottom: 0;
}

/* Add .video-container to your existing selector group */
.member-display-section img,
.member-display-section video,
.member-display-section canvas,
.member-display-section .video-container {
    width: 100%;
    max-height: 100%;
    object-fit: cover; /* Works beautifully on img, video, canvas */
    margin: 5px;
    border-radius: 15px;
    align-self: center;
    
    overflow: hidden;
}

.member-display-section .video-container
{
    aspect-ratio: 16/9;
}

.member-display-section .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}



@media (pointer: coarse)
{
    .team-member-list
    {
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5px;
        column-gap: 15px;
    }

    .member-list-title
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .member-photo
    {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        margin: 5px
    }

    .member-name
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 16px;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .member-role
    {
        font-family: "Lora";
        font-weight: 400;
        font-size: 12px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        transform: translate(0, -5%);
    }

    .member-button
    {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 15px;
        cursor: pointer;
        border: none;
        display: grid;
        justify-items: center;
        background-color: transparent;
    }

    .member-button-text
    {
        font-size: 20px;
    }

    .section-title
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 14px;
        margin: 0;
        padding: 0;
        margin-top: 5%;
    }

    .member-display-section p
    {
        font-family: "Lora";
        font-weight: 400;
        font-size: 12px;
    }

    .social-media-button
    {
        font-size: 16px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: black;
    }
}

@media (pointer: fine)
{
    .member-list-title
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 28px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .team-member-list
    {
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .member-photo
    {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        margin: 5px
    }

    .member-name
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 24px;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .member-role
    {
        font-family: "Lora";
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        transform: translate(0, -5%);
    }

    .member-button
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 15px;
        cursor: pointer;
        border: none;
        display: grid;
        place-items: center center;
        background-color: transparent;
    }

    .member-button-text
    {
        font-size: 25px;
    }

    .section-title
    {
        font-family: "Merriweather";
        font-weight: 900;
        font-size: 21px;
        margin: 0;
        padding: 0;
        margin-top: 5%;
    }

    .member-display-section p
    {
        font-family: "Lora";
        font-weight: 400;
        font-size: 18px;
    }

    .social-media-button
    {
        font-size: 24px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: black;
    }
}
    