{
    "build_scene": "none",
    "build_scenes": {},
    "editor_config": {},
    "engine_config": {
        "fullscreen": false,
        "target_framerate": 60,
        "vsync": true
    },
    "last_scene": "The-Fable-Of-The-Eclipse\\Assets\\Scenes\\PuzzleTesting.scene",
    "project_name": "The-Fable-Of-The-Eclipse"
}