{
    "build_scene": "Game\\Assets\\Scenes\\MainMenu.scene",
    "build_scenes": {},
    "editor_config": {},
    "engine_config": {
        "audio_mixer_buses": {
            "Master": {
                "children": {
                    "Music": {
                        "children": {},
                        "name": "Music",
                        "path": "Music",
                        "volume": 1.0
                    },
                    "Sfx": {
                        "children": {},
                        "name": "Sfx",
                        "path": "Sfx",
                        "volume": 1.0
                    }
                },
                "name": "Master",
                "path": "",
                "volume": 1.0
            }
        },
        "collision_layers": {
            "0": "Default",
            "1": "Player",
            "10": "Floor",
            "11": "Item",
            "12": "PlayerRaycast",
            "13": "Burnable",
            "14": "Layer 14",
            "15": "Layer 15",
            "2": "PlayerTrigger",
            "3": "WorldLimits",
            "4": "Enemy",
            "5": "EnemyHitbox",
            "6": "EnemyHit",
            "7": "Pillars",
            "8": "PillarLimits",
            "9": "EnemyLimit"
        },
        "collision_matrix": {
            "0": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "1": {
                "0": false,
                "1": false,
                "10": false,
                "11": true,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": true,
                "3": true,
                "4": true,
                "5": false,
                "6": false,
                "7": true,
                "8": false,
                "9": false
            },
            "10": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "11": {
                "0": false,
                "1": true,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "12": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": true,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "13": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": true,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "14": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "15": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "2": {
                "0": false,
                "1": true,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "3": {
                "0": false,
                "1": true,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": true,
                "5": false,
                "6": false,
                "7": true,
                "8": false,
                "9": false
            },
            "4": {
                "0": false,
                "1": true,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": true,
                "4": true,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": true
            },
            "5": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": true,
                "7": false,
                "8": false,
                "9": false
            },
            "6": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": true,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            },
            "7": {
                "0": false,
                "1": true,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": true,
                "4": false,
                "5": false,
                "6": false,
                "7": true,
                "8": true,
                "9": false
            },
            "8": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": false,
                "5": false,
                "6": false,
                "7": true,
                "8": false,
                "9": false
            },
            "9": {
                "0": false,
                "1": false,
                "10": false,
                "11": false,
                "12": false,
                "13": false,
                "14": false,
                "15": false,
                "2": false,
                "3": false,
                "4": true,
                "5": false,
                "6": false,
                "7": false,
                "8": false,
                "9": false
            }
        },
        "fullscreen": false,
        "target_framerate": 60,
        "vsync": true
    },
    "last_scene": "The-Fable-Of-The-Eclipse\\Assets\\Scenes\\UI\\Settings.scene",
    "project_name": "The-Fable-Of-The-Eclipse"
}